<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
		<script type='text/javascript' src="/javascripts/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/timeago.js" type="text/javascript"></script>
		<script type='text/javascript' src="/javascripts/main.js"></script>
  </head>
  <body>
    <div id="main">
      
      <div id="layout_header">
        <% if ( session.user ) { %>
            Logged in as <%= session.user.name %> | 

            <a href="/sessions/destroy">Logout</a>
        <% } %>

        <% if ( flash.warn ) { %>
          <p id="warn"><%= flash.warn %></p>
          <% } %>
      
      </div>
    
        <%- body %>
    </div>
  </body>
</html>