/* ---- Main Layout ----- */
body {
    margin:0px;
    font-family: 'Helvetica Neue', Helvetica, Lucida, Arial, sans-serif;
    font-size:12px;
}
#wrapper {
  width: auto;
  position: relative;
  margin-top: 0px;
}

/*----- Misc Fixes & Defaults --- */
.clearFix {
  clear: both;
}

a {
    text-decoration:none;
    color:#000;
}

h1, h2{
    margin:0px;
    font-size:20px;
    padding-bottom:2px;
}

/* ---- Header Bar ---- */
#header {
  position: absolute;
  top: 50px;
  left: 30px;
}

/* ---- the new crush button ---- */
#new_crush_button:hover {
  cursor: pointer;
}
#new-crush-bubble {
  position: absolute;
  top: 75px;
  left: 940px;
}
#new-crush-text {
  position: absolute;
  top: 107px;
  left: 965px;
}
/* ---- the profile button ---- */
#profile-bubble {
  position: absolute;
  top: 225px;
  left: 580px;
}
#profile-text {
  position: absolute;
  top: 295px;
  left: 625px;
  cursor: pointer;
}

/* --- decorative hearts ---- */
#small-heart {
  position: absolute;
  top: 235px;
  left: 1040px;
}
#big-heart {
  position: absolute;
  top: 590px;
  left: 440px;
  z-index: -1;
}
#puppy {
  position: fixed;
  right: -20px;
  bottom: 50px;
  height: 220px;
}


/* ---- Posts Stream  & Creation box --- */
#posts {
  padding-top: 120px;
  padding-left: 30px;
  width: 425px;
}

.postbox, #new_crush_box{
    margin-top: 15px;
    border: solid 5px #000;
    padding: 15px;
    text-align: left;
    background-color: white;
    color: #000;
    opacity: 1;  
}
span#new_post_label{
	font-weight:bold;
}
input#new_post_title, textarea#new_post_body{
    display:block;
    width:350px;
    border:1px solid #aaa;
    padding:4px;
    color:#333;
    font-size:16px;
}
textarea#new_post_body{
	width:380px;
}
#submit_post {
  margin-top: 5px;
}
textarea#new_post_body{
    font-size:12px;
    resize:vertical;
    margin-top:8px;
    min-height:62px;
}
.post_time{
    text-align:right;
    font-style:italic;
    font-size:11px;
    color:#999;
}

/* ---- Foooter Bar --- */
#footer{
    margin-top:100px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

