body {
    margin:0px;
    font-family: 'Helvetica Neue', Helvetica, Lucida, Arial, sans-serif;
    font-size:12px;
}


#wrapper {
  width: auto;
  position: relative;
  margin-top: 0px;
}

.clearFix {
  clear: both;
}

a {
    text-decoration:none;
    color:#000;
}
h1, h2{
    margin:0px;
    font-size:20px;
    padding-bottom:2px;
}
#header {
  position: absolute;
  top: 50px;
  left: 30px;
}

#speech-bubble {
  position: absolute;
  top: 75px;
  left: 700px;
}

#post {
  position: absolute;
  top: 107px;
  left: 725px;
}

#thought-bubble {
  position: absolute;
  top: 225px;
  left: 550px;
}

#profile {
  position: absolute;
  top: 295px;
  left: 595px;
  cursor: pointer;
}

#small-heart {
  position: absolute;
  top: 225px;
  left: 800px;
}

#big-heart {
  position: absolute;
  top: 440px;
  left: 440px;
  z-index: -1;
}

#post:hover {
  cursor: pointer;
}

#posts {
  padding-top: 120px;
  padding-left: 30px;
  width: 425px;
}

.postbox, #new_crush_box{
    margin-top: 15px;
    border: solid 3px #000;
    padding: 15px;
    text-align: left;
    background-color: white;
    color: #000;
    opacity: 1;
    
    
}

#puppy {
  position: fixed;
  right: 0px;
  bottom: 50px;
}

input#new_post_title, textarea#new_post_body{
    display:block;
    width:380px;
    border:1px solid #aaa;
    padding:4px;
    color:#333;
    font-size:16px;
}

#submit_post {
  margin-top: 5px;
}

textarea#new_post_body{
    font-size:12px;
    resize:vertical;
    margin-top:8px;
    min-height:62px;
}
.post_time{
    text-align:right;
    font-style:italic;
    font-size:11px;
    color:#999;
}
#footer{
    margin-top:100px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

